## Real Database

In [1]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
import sqlite3
import mysql.connector
from sqlalchemy import create_engine
import psycopg2
dotenv.load_dotenv() # register the .env file where passwords are stored
sys.tracebacklimit = 0 # turn off the error tracebacks

In [2]:
disciplineID_demographics = [[32241, '2018-2019', 12, 'WH', 'Y','N',0,'--']]
disciplineIDDemographics = pd.DataFrame(disciplineID_demographics, columns=['Discipline_ID', 'SchoolYear', 'GradeLevel', 'Ethnicity', 'SPED', 'EL', 'SOLTestTaken', 'SOLTestFailed'])

discipline = [[14557, '2018-2019', '17-May-19', 'No', 'pre-covid']]
disciplineData = pd.DataFrame(discipline, columns=['Discipline_ID', 'YR', 'LOGDATE', 'SUSPENDED', 'COVID_tag'])

attendID_demographics = [[73489, '2018-2019', 12, 'WH', 'Y','N',0,'--']]
attendIDDemographics = pd.DataFrame(disciplineID_demographics, columns=['Attend_ID', 'SchoolYear', 'GradeLevel', 'Ethnicity', 'SPED', 'EL', 'SOLTestTaken', 'SOLTestFailed'])

attendance = [[55345, '2018-2019', '2018-2019', 2800, 'LANG', 'AA English 11 Collab', '8(A)', '10-Oct-18', 'Absent', 'Excused', 'EXA', 'pre-covid']]
attendanceData = pd.DataFrame(attendance, columns = ['Attend_ID', 'YR', 'TERM_NAME', 'TERMID', 'DEPT', 'CRSNAME', 'EXPR', 'ATTDATE', 'PRESENCE_STATUS', 'ABSTYPE', 'ATT_CODE', 'COVID_tag'])


academicID_demographics =[[88710, '2018-2019', 12, 'WH', 'Y', 'N', 0, '--']]
academicDemographics = pd.DataFrame(academicID_demographics, columns=['Academic_ID','SchoolYear', 'GradeLevel', 'Ethnicity', 'SPED', 'EL', 'SOLTestTaken', 'SOLTestFailed'])

academics =[[96156, '2018-2019', 'LAND', '1168V', 'AA English 12 Virtual', 'APX(A)', 'Q1', 'F', 'pre-covid']]
academicData = pd.DataFrame(academics, columns= ['Academic_ID','YR', 'DEPT', 'CRSNUM', 'CRSNAME', 'EXPR', 'TERM', 'GRADE', 'COVID_tag'])

In [3]:

dotenv.load_dotenv()
pgpassword = os.getenv("pgpassword")

dbserver = psycopg2.connect(
    user='postgres', 
    password=pgpassword, 
    host="localhost"
)
dbserver.autocommit = True

cursor = dbserver.cursor()
'''
try:
    cursor.execute("CREATE DATABASE realcapstonedb")
except:
    cursor.execute("DROP DATABASE realcapstonedb")
    cursor.execute("CREATE DATABASE realcapstonedb")
'''   
realcapstonedb = psycopg2.connect(
    user='postgres', 
    password=pgpassword, 
    host="localhost",
    database="realcapstonedb"
)

engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="postgres", pw=pgpassword, db="realcapstonedb"))

disciplineIDDemographics.to_sql('discipline_demographics', con = engine, index=False, chunksize=1000, if_exists = 'replace')
disciplineData.to_sql('discipline_data', con = engine, index=False, chunksize=1000, if_exists='replace')
attendIDDemographics.to_sql('attendance_demographics', con = engine, index=False, chunksize=1000, if_exists='replace')
attendanceData.to_sql('attendance_data', con = engine, index=False, chunksize=1000, if_exists='replace')
academicDemographics.to_sql('academic_demographics', con = engine, index=False, chunksize=1000, if_exists='replace')
academicData.to_sql('academic_data', con = engine, index=False, chunksize=1000, if_exists='replace')

cursor = realcapstonedb.cursor()

### Read in data and Data Preprocessing

In [4]:

academic_excel = pd.ExcelFile('realData/Academic_Data.xlsx')
academic_demographics = pd.read_excel(academic_excel, 'Demographics')
academic_data = pd.read_excel(academic_excel, 'Academic Data')

In [5]:
academic_demographics.head()

,Academic_ID,SchoolYear,GradeLevel,Ethnicity,SPED,EL,SOLTestTaken,SOLTestFailed
0,88710.130415,2018-2019,12,WH,Y,N,0,--
1,88710.130415,2019-2020,12,WH,Y,N,0,--
2,70653.726667,2018-2019,12,AS,Y,N,0,--
3,70653.726667,2019-2020,12,AS,Y,N,0,--
4,95984.704341,2018-2019,12,WH,Y,N,0,--

In [6]:
academic_data.head()

,Academic_ID,YR,DEPT,CRSNUM,CRSNAME,EXPR,TERM,GRADE
0,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Q1,F
1,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Q2,F
2,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Q3,F
3,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Y1,C
4,96156.000401,2018-2019,HIS,2444V,AA VA/US Government Virtual,APX(A),Q1,F

In [7]:
attendance_excel = pd.ExcelFile('realData/Attendance_Data.xlsx')
attendance_demographics = pd.read_excel(attendance_excel, 'Demographics')
attendance_data = pd.read_excel(attendance_excel, 'Attendance')

In [8]:
attendance_data.head()

,Attend_ID,SCLYEAR,TERM_NAME,TERMID,DEPT,CRSNAME,EXPR,ATTDATE,PRESENCE_STATUS,ABSTYPE,ATT_CODE
0,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-10-10,Absent,Excused,EXA
1,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-10-26,Absent,Excused,EXA
2,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-11-12,Absent,Excused,EXA
3,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2019-02-25,Absent,Excused,EXA
4,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2019-03-15,Absent,Unexcused,UNV

In [9]:
attendance_data = attendance_data.rename(columns={"SCLYEAR": "YR"})

In [10]:
attendance_data.head()

,Attend_ID,YR,TERM_NAME,TERMID,DEPT,CRSNAME,EXPR,ATTDATE,PRESENCE_STATUS,ABSTYPE,ATT_CODE
0,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-10-10,Absent,Excused,EXA
1,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-10-26,Absent,Excused,EXA
2,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-11-12,Absent,Excused,EXA
3,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2019-02-25,Absent,Excused,EXA
4,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2019-03-15,Absent,Unexcused,UNV

In [11]:
discipline_excel = pd.ExcelFile('realData/Discipline_Data.xlsx')
discipline_demographics = pd.read_excel(discipline_excel, 'Demographics')
discipline_data = pd.read_excel(discipline_excel, 'Discipline')

In [12]:
discipline_data = discipline_data.rename(columns={"LOGYEAR": "YR"})

In [13]:
discipline_data.head()

   Discipline_ID         YR    LOGDATE SUSPENDED
0   14556.570703  2018-2019 2019-05-17        No
1   45998.091064  2018-2019 2018-12-06       Yes
2   86149.133463  2018-2019 2019-02-05        No
3   86149.133463  2018-2019 2019-03-27        No
4   86149.133463  2018-2019 2019-04-19        No

In [14]:

#smallerAttendance['covid'] = smallerAttendance.apply(lambda row: covid(row), axis=1)

def covid(row):
    if row.YR == '2020-2021':
        return 'remote'
    elif row.YR == '2021-2022':
        return 'return to in-person'
    elif row.YR == '2019-2020':
        return 'pre-covid'
    elif row.YR == '2018-2019':
        return 'pre-covid'
    else:
        return 'post-pandemic'
    return None

#smallerAttendance['covid'] = smallerAttendance.apply(lambda row: covid(row), axis=1)

In [15]:
attendance_data['COVID_tag'] = attendance_data.apply(lambda row: covid(row), axis=1)

In [16]:
attendance_data.head()

,Attend_ID,YR,TERM_NAME,TERMID,DEPT,CRSNAME,EXPR,ATTDATE,PRESENCE_STATUS,ABSTYPE,ATT_CODE,COVID_tag
0,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-10-10,Absent,Excused,EXA,pre-covid
1,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-10-26,Absent,Excused,EXA,pre-covid
2,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2018-11-12,Absent,Excused,EXA,pre-covid
3,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2019-02-25,Absent,Excused,EXA,pre-covid
4,55344.541914,2018-2019,2018-2019,2800,LANG,AA English 11 Collab,8(A),2019-03-15,Absent,Unexcused,UNV,pre-covid

In [17]:
academic_data['COVID_tag'] = academic_data.apply(lambda row: covid(row), axis=1)

In [18]:
academic_data.head()

,Academic_ID,YR,DEPT,CRSNUM,CRSNAME,EXPR,TERM,GRADE,COVID_tag
0,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Q1,F,pre-covid
1,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Q2,F,pre-covid
2,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Q3,F,pre-covid
3,96156.000401,2018-2019,LANG,1168V,AA English 12 Virtual,APX(A),Y1,C,pre-covid
4,96156.000401,2018-2019,HIS,2444V,AA VA/US Government Virtual,APX(A),Q1,F,pre-covid

In [19]:
discipline_data['COVID_tag'] = discipline_data.apply(lambda row: covid(row), axis=1)

In [20]:
discipline_data.head()

   Discipline_ID         YR    LOGDATE SUSPENDED  COVID_tag
0   14556.570703  2018-2019 2019-05-17        No  pre-covid
1   45998.091064  2018-2019 2018-12-06       Yes  pre-covid
2   86149.133463  2018-2019 2019-02-05        No  pre-covid
3   86149.133463  2018-2019 2019-03-27        No  pre-covid
4   86149.133463  2018-2019 2019-04-19        No  pre-covid

### Load data to database

In [21]:
#attendance data
attendance_data.to_sql('attendance_data', con=engine, if_exists='append', index=False)

#attendance demographics
attendance_demographics.to_sql('attendance_demographics', con=engine, if_exists='append', index=False)

# academic data
academic_data.to_sql('academic_data', con=engine, if_exists='append', index=False)

# academic demographics
academic_demographics.to_sql('academic_demographics', con=engine, if_exists='append', index=False)

# discipline data
discipline_data.to_sql('discipline_data', con=engine, if_exists='append', index=False)

# discipline demographics
discipline_demographics.to_sql('discipline_demographics', con=engine, if_exists='append', index=False)

In [26]:
query = '''
SELECT "Ethnicity", COUNT(*) FROM
(SELECT "Discipline_ID", "SUSPENDED", "Ethnicity", "GradeLevel" 
FROM discipline_demographics NATURAL JOIN discipline_data 
WHERE "SUSPENDED" = 'Yes') as TABLE1
GROUP BY "Ethnicity"
'''

pd.read_sql_query(query, con=engine)

ERROR! Session/line number was not unique in database. History logging moved to new session 607

  Ethnicity  count
0        WH   3781
1        AS     74
2        OH      1
3        BL   2019
4        MR    479
5        HL    861

In [27]:
query = '''
SELECT "Ethnicity", "COVID_tag", COUNT(*) FROM
(SELECT "Discipline_ID", "SUSPENDED", "Ethnicity", "GradeLevel", "COVID_tag" 
FROM discipline_demographics NATURAL JOIN discipline_data 
WHERE "SUSPENDED" = 'Yes') as TABLE1
GROUP BY "Ethnicity", "COVID_tag"
'''

pd.read_sql_query(query, con=engine)

ERROR! Session/line number was not unique in database. History logging moved to new session 610

  Ethnicity  COVID_tag  count
0        AS  pre-covid     74
1        WH  pre-covid   3753
2        BL  pre-covid   2007
3        MR     remote      3
4        WH     remote     28
5        OH  pre-covid      1
6        BL     remote     12
7        MR  pre-covid    476
8        HL  pre-covid    861